<ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
        <img src="assets/images/logo.png" />

        <p>¡Skingo es una aplicación creada para encontrar la ropa que mas te gusta!</p>
    </ion-slide>
    <ion-slide>
        <h3>FACIL DE USAR!</h3>
        <p>Haz una foto o usa una foto de tu galeria donde se muestre una prenda de ropa. </p>
    </ion-slide>
    <ion-slide>
        <h3>RÁPIDA!</h3>
        <p>Nuestro sistema reconocerá dicha prenda y te mostrará donde comprarla.</p>
    </ion-slide>
</ion-slides>