<ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
        <!-- <img src="assets/images/logo.png" /> -->
        <h1>TITULO H1</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium repudiandae magni expedita. Accusamus tempore non quis est maiores itaque perspiciatis distinctio amet nam consequatur pariatur vel ducimus laboriosam, quos magnam?</p>
    </ion-slide>
    <ion-slide>
        <h2>TITULO H2</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium repudiandae magni expedita. Accusamus tempore non quis est maiores itaque perspiciatis distinctio amet nam consequatur pariatur vel ducimus laboriosam, quos magnam?</p>
    </ion-slide>
    <ion-slide>
        <h3>TITULO H3</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium repudiandae magni expedita. Accusamus tempore non quis est maiores itaque perspiciatis distinctio amet nam consequatur pariatur vel ducimus laboriosam, quos magnam?</p>
    </ion-slide>
</ion-slides>