<ion-header>
    <ion-toolbar>
        <ion-title>Saved Products</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <img src="https://15f8034cdff6595cbfa1-1dd67c28d3aade9d3442ee99310d18bd.ssl.cf3.rackcdn.com//uploaded_thumb_big/e38df531dba53b06438b311cb6136e9e/camiseta_roja_frontal_personalizable.jpg" alt="">
            <br><br>
            <ion-card-title>Camiseta Roja</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            <br><br>
            <ion-icon name="cart" color="dark"></ion-icon>
            <ion-label color="dark"> Amazon.es</ion-label>
        </ion-card-content>

        <section class="buttonCenter">
            <ion-button size="small" color="success">Comprar</ion-button>
            <ion-button size="small" color="warning">Guardar</ion-button>
        </section>
        <br>
    </ion-card>


</ion-content>