<ion-header>
    <ion-toolbar color="skingoColor">
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="center">
        <!-- <img src="assets/images/logo.png" class="smallLogo" /> -->
        <h1>Login</h1>
    </div>
    <form>
        <ion-list>
            <ion-item>
                <ion-label position="stacked">Email*</ion-label>
                <ion-input autocomplete="off" type="text" name="username" [(ngModel)]="postData.email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Contraseña*</ion-label>
                <ion-input autocomplete="off" type="password" name="password" [(ngModel)]="postData.password"></ion-input>
            </ion-item>

            <ion-item lines='none'>
                ¿No estás registrado? <a routerLink='/signup'>Crea una cuenta.</a>
            </ion-item>
        </ion-list>
        <ion-button expand="block" share="round" color="skingoColor" (click)="onLogin()">Login</ion-button>
        <br>
        <img src="assets/images/googleButton.png" style="width : 100% ; height : 100%" (click)="googleLogin()">
    </form>
</ion-content>