<ion-tabs>

    <ion-tab-bar slot="bottom" color="dark">

        <ion-tab-button tab="camera">
            <ion-icon name="camera"></ion-icon>
            <!-- <ion-label>Messages</ion-label> -->
        </ion-tab-button>

        <ion-tab-button tab="saved-products">
            <ion-icon name="bookmark"></ion-icon>
            <!-- <ion-label>Contact</ion-label> -->
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="cog"></ion-icon>
            <!-- <ion-label>Settings</ion-label> -->
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>