<!-- <ion-header>
    <ion-toolbar>
        <ion-title>Camera</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>


    <h3 *ngIf="data.length == 0" class="ion-padding ion-text-center">Por favor selecciona una imagen para buscar!</h3>





</ion-content>
<ion-item>
    <ion-footer>
        <ion-toolbar color="dark-tint">
            <ion-button fill="clear" expand="full" color="dark" (click)="selectImage()">
                <ion-icon slot="start" name="camera"></ion-icon>
                Selecciona una Imagen</ion-button>
        </ion-toolbar>
    </ion-footer>
</ion-item>